 <div class="container">
    <div class="col-xs-3"><br>
      <h3>配送先編集</h3><br>
    </div>
  </div>
 <%= form_with model: @address, url: address_path, local: true do |f| %>
  <div class="container">
    <table>
      <tr>
        <th><%= f.label :郵便番号（ハイフンなし）%></th>
        <th><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></th>
      </tr>
      <tr>
        <th><%= f.label :住所%></th>
        <th><%= f.text_field :address, autofocus: true, autocomplete: "address" %></th>
      </tr>
      <tr>
        <th><%= f.label :氏名 %></th>
        <th><%= f.text_field :name, autofocus: true, autocomplete: "first_name" %></th>
      </tr>
      <tr>
        <th><%= f.submit '編集する', class: "btn btn-primary" %></th>
      </tr>
    </table>
  </diV>
  <% end %>