<div calss="row">
  <div class="col-xs-9">
    <h2 class="head-line title_h2 text-center">注文情報確認</h2>
      <%#= form_with model:@order, url: orders_path, method: :post, local:true do |f| %>
         <table class="table table-hover table-inverse table-bordered">
          <thead>
            <tr class="info">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
          <% @cart_products.each do |cart_product| %>
            <tr>
              <td class="text-left">
                <%= attachment_image_tag(cart_product.product, :image, size: "60x50", fallback: "no_image.jpg") %>
                <%= cart_product.product.name %>
              </td>
              <td class="text-right">
                <%= cart_product.product.price %>
              </td>
              <td class="text-right">
                <%= cart_product.quantity %>
              </td>
              <td class="text-right">
                <%= (cart_product.product.price * cart_product.quantity).to_s(:delimited) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <div class="col-xs-3 billing">
      <table class="table table-hover table-condensed table-bordered">
          <tr>
            <th class="info">送料</th>
            <td class="text-right col-xs-5">800</td>
          </tr>
          <tr>
            <th class="info">商品合計</th>
            <td class="text-right"><%= @totalprice.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="info">請求金額</th>
            <td class="text-right"><%= (@totalprice + 800).to_s(:delimited) %></td>
          </tr>
      </table>
      </div>
    <div class="col-xs-6 billing">
      <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th  class="info">支払方法</th>
          <td class="text-left">
            <%= @order.payment_methods %>
          </td>
        </tr>
        <tr>
          <th  class="info">お届け先</th>
          <td class="text-left">
            <%= @order.postal_code + @order.address + @order.name %>
          </td>
        </tr>
      </table>

      <br><br><%#= link_to '購入を確定する', thanx_path, class: "btn btn-success" %>
    </div>
      <%# end %>
      <%= form_with model: @order, url: orders_path, method: :post, local:true do |f| %>
        <%= hidden_field_tag :addresses, params[:order][:addresses] %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :shipping_cost %>
        <%= f.hidden_field :total_payment %>
        <%= f.hidden_field :payment_methods %>
        <%= f.hidden_field :status %>
        <%= f.submit "購入を確定する", class: "btn btn-success" %>
      <% end %>
  </div>