  <body>
    <div class="container">
      <div class="col-xs-offset-1 col-xs-11"><br><br><br>
        <h3>登録情報編集</h3>
      </div>
      <%= form_with model:@customer, local:true do |f| %>
        <table>
          <tr>
            <th><%= f.label :名前（姓）%></th>
            <th><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></th>
            <th><%= f.label :（名）%></th>
            <th><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></th>
          </tr>
          <tr>
            <th><%= f.label :フリガナ（セイ） %></th>
            <th><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></th>
            <th><%= f.label :（メイ）%></th>
            <th><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></th>
          </tr>
          <tr>
            <th><%= f.label :メールアドレス%></th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          </tr>
          <tr>
            <th><%= f.label :郵便番号（ハイフンなし）%></th>
            <th><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></th>
          </tr>
          <tr>
            <th><%= f.label :住所%></th>
            <th><%= f.text_field :address, autofocus: true, autocomplete: "address" %></th>
          </tr>
          <tr>
            <th><%= f.label :電話番号（ハイフンなし）%></th>
            <th><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></th>
          </tr>
          <tr>
            <th><%= f.submit '編集内容を保存する',class: "btn btn-primary" %></th>
      <% end %>
            <th><%= link_to '退会する', quit_customers_path, class: "btn btn-danger" %></th>
          </tr>
        </table>
    </div>
  </body>
