  <html>
    <body>
      <div class="container">
        <div class="col-xs-3">
          <h2>マイページ</h2>
        </div>
      </div>
      <div class="container">
        <table>
          <tr>
            <td><h3>登録情報</h3></td>
            <td>
              <%= link_to '編集', edit_customer_path, class: "btn btn-primary" %>
              <%= link_to "パスワードを変更する", edit_customer_path, class: 'btn btn-primary' %>
            </td>
          </tr>
        </table>
          <%= form_with model: @user, local:true do |f| %>
            <table class="table table-bordered">
            <tr>
              <th>氏名</th>
              <th><%= f.text_field :name %></th>
            <tr>
              <th>カナ</th>
              <th><%= f.text_field :name %></th>
            </tr>
            <tr>
              <th>郵便番号</th>
              <th><%= f.text_field :postal_code %></th>
            </tr>
            <tr>
              <th>住所</th>
              <th><%= f.text_field :address %></th>
            </tr>
            </tr>
              <th>電話番号</th>
              <th><%= f.text_field :telephone_number %></th>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <th><%= f.text_field :email %></th>
            </tr>
            </table>
          <% end %>
          <tr>
            <th>配送先   </th>
             <th><%= link_to "一覧を見る", customers_path, class: 'btn btn-primary' %></th>
          </tr>
          <tr><br><br>
            <th>注文履歴</th>
             <th><%= link_to "一覧を見る", customers_path, class: 'btn btn-primary' %></th>
          </tr>
        </table>
      </div>
    </body>
  </html>