<div class="row">
  <div class="col-xs-3">
    <ul class="list-group">
      <li class="list-group-item"><h3>ジャンル検索</h3></li>
	    <li class="list-group-item"><%= link_to 'ケーキ' %></li>
	    <li class="list-group-item"><%= link_to '焼き菓子' %></li>
	    <li class="list-group-item"><%= link_to 'プリン' %></li>
	    <li class="list-group-item"><%= link_to 'キャンディ' %></li>
    </ul>

  </div>
  <div class="col-xs-9">
    <h1>
      <strong>商品一覧</strong> (全<%= @product.count %>件)
    </h1>
    <table class="table">
        <thead></thead>
        <tbody>
          <% @product.each do |product| %>
    		    <td>
    		      <div class="image11"><%= attachment_image_tag product, :image, size:'200x170' %></div>
    		      <div class="name11"><%= link_to product.name,product_path(product.id) %></div>
              <div class="image11">¥<%= product.price %></div>
            </td>
          <% end %>
        <tbody>
