<div class="row">
  <div class="col-xs-3">
    <ul class="list-group">
      <li class="list-group-item"><h3>ジャンル検索</h3></li>
	    <li class="list-group-item"><%= link_to 'ケーキ' %></li>
	    <li class="list-group-item"><%= link_to '焼き菓子' %></li>
	    <li class="list-group-item"><%= link_to 'プリン' %></li>
	    <li class="list-group-item"><%= link_to 'キャンディ' %></li>
    </ul>
  </div>
  <%= form_with model:@cart_product, url:cart_products_path,  method: :post, local:true do |f| %>
      <br><br><br><br><br>
      <div class="col-xs-3">
      <%= attachment_image_tag @product, :image, size:'330x270' %>
      </div>
      <div class="col-xs-6">
        <h2><strong><%= @product.name %></strong></h2>
      <br>
      <%= @product.introduction %>
      <br>
      <br>
      <h2>￥<%= @product.price %></h2><h4>（税抜）</h4>
      <br>
      <br>
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.number_field :quantity %>
      <%= f.submit "カートに入れる", class:"btn btn-primary" %>
      </div>
  <% end %>
  