<div class="row">
  <div class="col-xs-3">
    <ul class="list-group">
      <li class="list-group-item"><h3>ジャンル検索</h3></li>
	    <li class="list-group-item"><%= link_to 'ケーキ' %></li>
	    <li class="list-group-item"><%= link_to '焼き菓子' %></li>
	    <li class="list-group-item"><%= link_to 'プリン' %></li>
	    <li class="list-group-item"><%= link_to 'キャンディ' %></li>
    </ul>
  </div>
  <div class="col-xs-9">
    <h1>ようこそ、<strong>NaganoCakeへ</strong>  !!</h1>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
    
    
    <section class="product1">
      <h1>オススメ商品</h1>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr>
           
            <br>
            <td>いちごのショートケーキ</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
          </tr>
          <tr>
            <!--<td><%= link_to "もっと見る>" %></td>-->
          </tr>
        <tbody>
      </table>
    </section>
</div>

    
  
    
    
    
   