<div class="row">
  <div class="col-xs-offset-2 col-xs-7"><br><br><br><br><br><br>
    <h4><span style="background-color: #afeeee">商品一覧</span></h4><a href="/admins/products/new" class="btn-circle-3d">＋</a>
      <table class="table">
        <thead>
    		<tr>
    			<th>商品ID</th>
    			<th>商品名</th>
    			<th>税抜価格</th>
    			<th>ジャンル</th>
    			<th>ステータス</th>
    		</tr>
    	</thead>
    	<tbody>
        <% @product.each do |product| %>
    		<tr>
    			<th><%= product.id %></th>
    			<td><%= link_to product.name,admins_product_path(product.id) %></td>
    			<td><%= product.price %></td>
    			<td><%= product.genre.name %></td>
    			<td><%= product.is_active %></td>
    		</tr>
        <% end %>
    	</tbody>
      </table>
  </div>
</div>
