<div class="row">
  <div class="col-xs-3">
    <h3>ジャンル検索</h3>
    <%= link_to 'ケーキ1' %>
    <br>
    <%= link_to '焼き菓子' %>
    <br>
    <%= link_to 'プリン' %>
    <br>
    <%= link_to 'キャンディー' %>
  </div>
  <div class="col-xs-9">
    <h1>商品一覧(全何件)</h1>
    <table class="table">
        <thead></thead>
        <tbody>
          <tr>
            
            <br>
            <td><%= link_to 'ケーキ',product_path(@product)%></td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
          </tr>
          <tr>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
            
            <br>
            <td>商品名</td>
            <br>
            <td>￥0,000</td>
          </tr>
        <tbody>