<div class="row">
  <div class="col-xs-offset-1 col-xs-11"><br><br><br><br><br><br>
    <h2>注文履歴一覧</h2>
      <div class="col-xs-6 col-xs-offset-1">
        <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr class="info">
            <th>購入日時</th></th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td class="text-left">
              <%= link_to admins_order_path(order) do %>
                <%= order.created_at %>
              <% end %>
              </td>
              <td class="order-td"><%= order.name %>様</td>


              <td class="order-td"><%= order.order_details.pluck(:amount).sum %>
                <!--%= order.order_details.count % -->
                <!--% order.order_details.each do |order_detail| %>
                    % order_detail.amount %>% end %-->
              </td></td>

              <td class="order-td"><%= order.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>