<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Nagano_cake</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>

          <li><%= link_to ' マイページ', customer_path(current_customer), class: "btn btn-default navbar-btn" %></li>
          <li><%= link_to ' 商品一覧', products_path, class: "btn btn-default navbar-btn" %></li>

          <li><%= link_to ' カート', cart_products_path, class: "btn btn-default navbar-btn" %></li>


          <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
        <% else %>
          <% if admin_signed_in? %>
            <li><%= link_to '商品一覧', admins_products_path, class: "btn btn-default navbar-btn" %></li>
            <li><%= link_to '会員一覧', admins_end_users_path, class: "btn btn-default navbar-btn" %></li>
            <li><%= link_to '注文履歴一覧', admins_orders_path, class: "btn btn-default navbar-btn" %></li>
            <li><%= link_to 'ジャンル一覧', admins_genres_path, class: "btn btn-default navbar-btn" %></li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
          <% else %>
            <li><%= link_to ' About', about_path, class: "btn btn-default navbar-btn" %></li>
            <li><%= link_to ' 商品一覧', products_path, class: "btn btn-default navbar-btn" %></li>
            <li><%= link_to ' 新規登録', new_customer_registration_path, class: "btn btn-default navbar-btn"%></li>
            <li><%= link_to ' ログイン', new_customer_session_path, class: "btn btn-default navbar-btn"%></li>
          <% end %>
        <% end %>

      	<% if customer_signed_in? %>
			    <%= form_with url:  search_path, method: :get, local: true do |f| %>
	  		    <%= text_field_tag :search_word %>
	  　	    <%= submit_tag '検索', :name => nil %>
	  　	   <% end %>
		    <% else %>
		      <% if admin_signed_in? %>
			      <%= form_with url:  search_products_path, method: :get, local: true do |f| %>
	  		      <%= text_field_tag :search_word %>
	  　	      <%= submit_tag '検索', :name => nil %>
	  　	    <% end %>
	      	<% end %>
	      <% end %>
      </ul>
    </nav>
  </div>
</header>